.sadness {
    color: #adcbe3;
}

.analytical {
    color: #251e3e;
}

.anger {
    color: #ee4035;
}

.fear {
    color: #f37736;
}

.joy {
    color: #7bc043;
}

.confident {
    color: #009688;
}

.tentative {
    color: #fdf498;
}